/* Links */
a {
  text-decoration: none;
}

/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

button {
  @apply cursor-pointer;
}
/* Ensure SidebarProvider has fixed height */
[data-slot="sidebar-wrapper"] {
  height: 100vh;
  overflow: hidden;
}

